* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, button, input {
  border: 0;
  outline: 0;

  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 20px 5vw;
  background-color: #DDFFE7;

  
}

#root {
  --background: #DDFFE7;
  --primary: #17C68D;
  --primary-light: #47E6AD;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5vw;

  background-color: var(--primary);
}

.link {
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.about-us .title {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
}

#contact {
  margin: 15px 0;
}

.text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-field label {
  margin-bottom: 8px;
}

.text-field input {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

.button {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--primary);
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  background-color: var(--primary-light);
}

#form-contact .button {
  margin-top: 8px;
}

@media only screen and (min-width: 900px) {
  .main-header {
    padding: 20px 10vw;
  }

  main {
    display: grid;
    padding: 20px 10vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'AU AU AU CT CT';
  }

  .about-us {
    grid-area: AU;
    padding-right: 30px; 
  }

  #contact {
    grid-area: CT;
  }
}